extends login-layout

block content

	section.splash-background
		video.splash-video(autoplay loop)
			source(src="https://s3.amazonaws.com/refactoru/public/backgroundVideo.mp4" type="video/mp4")

	section.row
		div.col-md-12
			h1.splash-logo.col-md-offset-2 VINGAGE
		section.splash-description.col-md-6
			h1 Empowering, engaging and helping students learn from video the smarter way.
		div.sign-in-form.col-md-6
			div.inner-form
				h2 Sign in
				form.sign-in(action="/auth/login" method="post")
					input#username-input.login-forms(type="text" name="username" placeholder="Username")
					input.login-forms(type="password" name="password" placeholder="Password")
					button.btn.btn-splash(type="submit") LOG IN

				//- Sign up
				h2 Sign up
				form.sign-up(action="/auth/signup/removethis" method="post")
					input.login-forms(type="text" name="username" placeholder="Username")
					input.login-forms(type="email" name="email" placeholder="Email")
					input.login-forms(type="password" name="password" placeholder="Password")
					button.btn.btn-splash(type="submit") SIGN UP