doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Vingage
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/lib/mainDev.css")
		link(href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')


	body
		section.container
			block content
	
	//- external scripts
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js") 
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js") 
	
	//- backbone scripts
	script(src="/scripts/lib/mainDev.js")
